apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: medflow
  labels:
    app: backend
spec:
  type: NodePort
  ports:
  - port: 3002
    targetPort: 3002
    nodePort: 30002  # Accessible sur http://localhost:30002
    protocol: TCP
    name: http
  selector:
    app: backend
